'use strict';
module.exports = {
  slack: {
    /*jshint camelcase: false */
    incoming_webhook_url: "incoming slack webhook url",
    /*jshint camelcase: false */
    outgoing_webhook_token: "outgoing slack webhook token"
  }
}
